---
import Layout from "../layouts/Layout.astro";
import HeadingBubble from "../components/HeadingBubble.astro";
import Spacer from "../components/Spacer.astro";
import Bubble from "../components/Bubble.astro";
import BackBubble from "../components/BackBubble.astro";
---

<Layout
  title="Community Management for Playstark - Sebastian Bogdan"
  description="Explore Sebastian Bogdan's journey from 16-year-old aspiring to skilled community manager, growing Playstark's gaming community with impressive stats."
  canonical="https://sbstnbgdn.com/community-management-for-playstark/"
>
  <HeadingBubble body="Community Management for Playstark:" />
  <Spacer />
  <Bubble>
    <p>
      I started my work for <a
        href="https://playstark.com/"
        target="_blank"
        class="hover:text-teal underline">Playstark</a
      > when I was just 16.
    </p>
  </Bubble>
  <Bubble>
    <p>
      I was determined to learn and grow rapidly in the role. And that's exactly
      what I did.
    </p>
  </Bubble>
  <Spacer />
  <Bubble>
    <p>
      I knew I loved to motivate and engage with people. Especially in the
      gaming community.
    </p>
  </Bubble>
  <Bubble>
    <p>
      So Playstark took me under their wing and I was able to learn from the
      best.
    </p>
  </Bubble>
  <Bubble>
    <p>
      Their project, <a
        href="https://www.youtube.com/watch?v=tV8H9CyZ7OM"
        target="_blank"
        class="hover:text-teal underline">Agents: Biohunters</a
      >, was a work in progress over several years and I was determined to
      cultivate them an audience.
    </p>
  </Bubble>
  <Spacer />
  <Bubble>
    <p>
      My work spanned across multiple social media platforms, including Discord,
      Reddit, Twitter, Instagram, and Facebook.
    </p>
  </Bubble>
  <Bubble>
    <p>
      I was solely responsible for the growth and management of the community. I
      wrote engaging copy, scheduled and posted content, and interacted with the
      community.
    </p>
  </Bubble>
  <Spacer />
  <Bubble>
    <p>My work resulted in the following growth statistics within &lt;1yr:</p>
  </Bubble>
  <Bubble>
    <p>100 -> 3,000 members on Discord</p>
  </Bubble>
  <Bubble>
    <p>0 -> 50 members on Reddit</p>
  </Bubble>
  <Bubble>
    <p>20 -> 400 followers on Twitter</p>
  </Bubble>
  <Bubble>
    <p>200 -> 1,600 followers on Instagram</p>
  </Bubble>
  <Bubble>
    <p>2,500 -> 30,000 followers on Facebook</p>
  </Bubble>
  <Spacer />
  <Bubble>
    <p>
      I learned valuable project management, time management, social media
      management, branding, and remote teamworking skills, working for an expert
      game development studio based in Spain.
    </p>
  </Bubble>
  <BackBubble />
</Layout>
