---
import Layout from "../layouts/Layout.astro";
import Bubble from "../components/Bubble.astro";
import HeadingBubble from "../components/HeadingBubble.astro";
import BackBubble from "../components/BackBubble.astro";
import Spacer from "../components/Spacer.astro";
---

<Layout
  title="How Mental Newsletter - Sebastian Bogdan"
  description="Sebastian Bogdan mastered Drip email marketing, doubled How Mental's newsletter subscribers to nearly 3,000, and improved content for better engagement."
  canonical="https://sbstnbgdn.com/how-mental-newsletter/"
>
  <HeadingBubble body="How Mental Newsletter:" />
  <Spacer />
  <Bubble>
    <p>
      At one point, I was tasked with sending out the <a
        href="/your-mental-moment/"
        class="underline hover:text-teal">weekly newsletter</a
      >.
    </p>
  </Bubble>
  <Bubble>
    <p>
      I'd never done anything like that before, and, to be honest, it was
      difficult adjusting to an email marketing platform.
    </p>
  </Bubble>
  <Bubble>
    <p>
      But I got the hang of it eventually: I thought the best way to familarise
      myself with the interface is to redesign the newsletter. That way, I'd get
      comprehensive knowledge of each feature available to me, and the
      newsletter gets a nice facelift.
    </p>
  </Bubble>
  <Bubble>
    <p>
      The newsletter ended up growing from around 1,500 subscribers to almost
      3,000 in the short few months that I took over.
    </p>
  </Bubble>
  <Spacer />
  <Bubble>
    <p>
      I learned to use the email marketing platform Drip, and managed the
      subscriber list, optimising the newsletter content for the best open rates
      and click-through rates.
    </p>
  </Bubble>
  <BackBubble />
</Layout>
