---
import Layout from "../layouts/Layout.astro";
import Bubble from "../components/Bubble.astro";
import HeadingBubble from "../components/HeadingBubble.astro";
import BackBubble from "../components/BackBubble.astro";
import Spacer from "../components/Spacer.astro";
---

<Layout
  title="How Mental on Instagram - Sebastian Bogdan"
  description="Sebastian Bogdan boosted How Mental's Instagram, growing followers from 700k to 800k. Discover his content strategy and efficient scheduling."
  canonical="https://sbstnbgdn.com/how-mental-on-instagram/"
>
  <HeadingBubble body="How Mental on Instagram:" />
  <Spacer />
  <Bubble>
    <p>
      I spent the majority of my time at How Mental working on growing its
      <a
        href="https://www.instagram.com/howmental/"
        target="_blank"
        class="hover:text-teal underline">Instagram presence</a
      >.
    </p>
  </Bubble>
  <Bubble>
    <p>The profile started out at 700,000 followers.</p>
  </Bubble>
  <Bubble>
    <p>After I'd finished my work there, it had grown to 800,000 followers.</p>
  </Bubble>
  <Spacer />
  <Bubble>
    <p>A large part of my work included sourcing posts and writing captions.</p>
  </Bubble>
  <Bubble>
    <p>
      I maintained the brand voice in each sourced post and written caption.
    </p>
  </Bubble>
  <Spacer />
  <Bubble>
    <p>
      Outside of posts, I created a more efficient system for sourcing,
      approvals, and scheduling.
    </p>
  </Bubble>
  <Bubble>
    <p>
      With there being more than one intern working on captions and sourcing at
      any given time, it was important to have a system that was easy to use and
      understand. This is something I worked on extensively so we could automate
      as much as possible to divert our resources to other areas.
    </p>
  </Bubble>
  <BackBubble />
</Layout>
