---
import Layout from "../layouts/Layout.astro";
import HeadingBubble from "../components/HeadingBubble.astro";
import Spacer from "../components/Spacer.astro";
import Bubble from "../components/Bubble.astro";
import BackBubble from "../components/BackBubble.astro";
---

<Layout
  title="How Mental on Twitter - Sebastian Bogdan"
  description="Sebastian Bogdan grew How Mental's Twitter following from 500 to 1,600+ with notable engagement. Explore his journey and key Twitter campaign insights."
  canonical="https://sbstnbgdn.com/how-mental-on-twitter/"
>
  <HeadingBubble body="How Mental on Twitter:" />
  <Spacer />
  <Bubble>
    <p>
      I spent almost four months working on How Mental's <a
        href="https://twitter.com/howmental_"
        target="_blank"
        class="hover:text-teal underline">Twitter presence</a
      >.
    </p>
  </Bubble>
  <Bubble>
    <p>It started out at 500 followers with little to no engagement.</p>
  </Bubble>
  <Bubble>
    <p>
      After those few months, the account reached over 1,600 followers, with
      each post averaging 18-20 engagements.
    </p>
  </Bubble>
  <Bubble>
    <p>
      The most engaged-with post throughout that period achieved over 140
      engagements.
    </p>
  </Bubble>
  <Bubble>
    <p>I was posting 3-5 times a day.</p>
  </Bubble>
  <Spacer />
  <Bubble>
    <p>
      Running several Twitter campaigns taught me the value of one-to-one
      interactions and how to optimise posts that convert followers to
      consumers.
    </p>
  </Bubble>
  <BackBubble />
</Layout>
