---
import Layout from "../layouts/Layout.astro";
import HeadingBubble from "../components/HeadingBubble.astro";
import Bubble from "../components/Bubble.astro";
import Spacer from "../components/Spacer.astro";
import MyWork from "../components/MyWork.astro";
---

<Layout
  title="Sebastian Bogdan"
  description="Discover Sebastian Bogdan's portfolio as a digital marketer and web developer, specialising in social media, community management, and tech-integrated marketing."
  canonical="https://sbstnbgdn.com/see-you-soon/"
>
  <HeadingBubble body="Thank you for booking time to meet with me!" />
  <Bubble><p>I'm looking forward to meeting you. :)</p></Bubble>
  <Spacer />
  <Bubble>
    <p>
      In the meantime, feel free to browse this website to learn more about me.
    </p>
  </Bubble>
  <Spacer />
  <Bubble><p>Here are a few examples of my work:</p></Bubble>
  <MyWork />
</Layout>
