---
import Bubble from "./Bubble.astro";
import Spacer from "./Spacer.astro";
---

<Spacer />
<Bubble>
  <p>
    Go <a rel="prefetch" class="hover:text-teal underline" href="/">back</a>
  </p>
</Bubble>
