---
const { title, description, canonical } = Astro.props;
---

<title>{title}</title>
<meta name="description" content={description} />
<link rel="canonical" href={canonical} />
<link rel="sitemap" href="/sitemap-index.xml" />
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width" />
