---
import "../styles/global.css";
import BaseHead from "../components/BaseHead.astro";
import type { PageMetadata } from "../data/site";

const metadata = Astro.props as PageMetadata;
---

<html lang="en-GB" dir="ltr">
  <BaseHead {...metadata} />
  <body class="font-arial text-center text-[#333333] subpixel-antialiased">
    <slot />
  </body>
</html>
